header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 300px;
    display: block;
}

header ul {
    display: flex;
}

header ul li {
    font-size: 12px;
}