/* header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

header img {
    width: 150px;
    display: block;
}

header ul {
    height: 100%;
    padding: 15px 0;
    display: flex;
}

header ul li {
    font-size: 14px;
    margin: auto 25px;
}

/* common */
.common-btn {
    display: block;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    background: #00abae;
    text-align: center;
    padding: 5;
}

.common-btn a {
    color: #fff;
    font-size: 14px;
}


/* fv */
.fv {
    position: relative;
}

.fv h1 {
    position: absolute;
    top: 50%;
    left: 20%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    font-size: 50px;
    line-height: 2;
}